# Binaries
*.exe
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of go coverage
*.out

# IDE files
.idea/
.vscode/

# macOS
.DS_Store

# Logs
logs
*.log

# Diagnostic reports
heapdump.*

# Standard Go directories
bin/